
/* Font Family*/

@font-face {
  font-family: 'Roboto Slab';
  src: url('RobotoSlab-Light.eot');
  src: url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
      url('RobotoSlab-Light.woff2') format('woff2'),
      url('RobotoSlab-Light.woff') format('woff'),
      url('RobotoSlab-Light.ttf') format('truetype'),
      url('RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('JosefinSans-SemiBold.eot');
  src: url('JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('JosefinSans-SemiBold.woff2') format('woff2'),
      url('JosefinSans-SemiBold.woff') format('woff'),
      url('JosefinSans-SemiBold.ttf') format('truetype'),
      url('JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

